/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@font-face {
  font-family: 'EVEAlpha';
  src: url('./assets/eve.ttf') format('truetype');
}

html, body {
  margin: 0;
  padding: 0;
  
  height: 100%;
  width: 100%;
  background-color: #090C0E;
  overflow: hidden;
}

body {
  background-image: url(./assets/bg.jpg);
}

md-card {
  box-shadow: none !important;
}

simple-snack-bar {
  justify-content: center !important;
}